<h2>Denunciar bookmarks</h2>
<p class="errors">
	<%if @errors.presence %>
		<%=@errors%>
	<%end %>
	<%= puts @errors.inspect if @errors.presence%>
</p>
<%= form_tag :action => 'denunce', id: @b_id do%>
	<p><label for="bookmark_fault">Causa</label>:
	<%= collection_select(:bookmark,:fault,@faults,:id,:name) %></p>

	<p><label for="bookmark_message">Mensaje</label>:
	<%= text_area 'bookmark','message', {value: 'El sitio ...'} %></p>

	<%= submit_tag "Denunciar" %>

	<%= link_to 'Volver', {action: 'list', controller: 'bookmarks'}, type: 'button2' %>
<%end %>
