<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>Add new bookmark</h1>
<%= form_tag :action => 'create' %>
<p><label for="bookmark_url">URL</label>:
<%= text_field 'bookmark', 'url' %></p>
<p><label for="bookmark_category">Category</label>:
<%= collection_select(:bookmarks,:categories_id,@categories,:id,:name) %></p>

<%= submit_tag "Create" %>
</form>
<p class="errors">
	<%if @errors.presence %>
		<%=@errors%>
	<%end %>

	<%= puts @errors.inspect if @errors.presence%>
</p>

<%= link_to 'Back', {:action => 'list'} %>


</body>
</html>