<h2>Añadir bookmarks</h2>
<p class="errors">
	<%if @errors.presence %>
		<%=@errors%>
	<%end %>
	<%= puts @errors.inspect if @errors.presence%>
</p>
<%= form_tag :action => 'create' do%>
	<p><label for="bookmark_url">URL</label>:
	<%= text_field 'bookmark', 'url',{value: 'http://'} %></p>
	<p><label for="bookmark_category">Category</label>:
	<%= collection_select(:bookmarks,:category,@categories,:id,:name) %></p>
	<%= submit_tag "Crear" %>

	<%= link_to 'Volver', {action: 'list'}, type: 'button2' %>
<%end %>
