<h2>Instrucciones de confirmacion de reenvio</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.submit "Reenviar Instrucciones" %></div>

<% end %>

<%= render "layouts/back" %>
