<%= render "layouts/notice" %>
<% if @bookmarks.blank? %>
	<p><h2> <%= @user.username %>, actualmente no has ingresado bookmarks.</h2></p>
<% else %>
	<p><h2>Estos son tus bookmarks</h2></p>
	<div class="autopagerize_page_element">
		<%= paginate @bookmarks, method: 'post' %>
	</div>

	<table id="bookmarks">
	<% @bookmarks.each do |c| %>
		<tr>
			<td><%= c.get_url() %></td>
			<td><%= link_to "Ir al detalle", {controller: 'bookmarks', action: 'show', id: c.bookmarks_id} , type: "button" %></td>
			<td><%= link_to "Votar", { controller: 'bookmarks', action: "vote", id: c.bookmarks_id}, type: "button4" %></td>
			<td><%= link_to "Eliminar", { action: "delete_bookmark", id: c.bookmarks_id}, :confirm => '¿Estás seguro que deseas borrar el elemento?', type: "button4" %></td>
		</tr>
	<% end %>
	</table>

	<div class="autopagerize_page_element">
		<%= paginate @bookmarks, method: 'post' %>
	</div>
<% end %>
<p>
	<%= button_tag "Agregar Bookmark", {type: 'submit',onclick: "window.location='/bookmarks/'" }%>
</p>

<%= render "layouts/back" %>